<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Label</key>
        <string>com.integratel.tracker</string>
        <key>ProgramArguments</key>
        <array>
            <string>/usr/local/bin/python3.11</string>
            <string>-m</string>
            <string>src.main</string>
        </array>
        <key>RunAtLoad</key>
        <true />
        <key>KeepAlive</key>
        <true />
        <key>StandardOutPath</key>
        <string>/tmp/integratel_tracker.out</string>
        <key>StandardErrorPath</key>
        <string>/tmp/integratel_tracker.err</string>
        <key>WorkingDirectory</key>
        <string>/Users/josefranciscomateocarrasco/Documents/personal/python/tracker</string>
    </dict>
</plist>